<html>
<% provide(:title, @page_title) %>
  <div class="content contentText">
    <span style="display: block;" class="fadeInDown animated">
    <span style="display: block; -webkit-animation-duration: 2.5s;" class="zoomIn animated">
      
      <h1 class="bigText wordsTransLighten">Log In</h1>
    </span>
    </span>
  <br>
  <!-- For for the loggen attempt -->
  <%= form_for(:session, url: login_path, class: 'formClass') do |f| %>
    <!-- just putting html in here I wonder if it works -->
    <!--div class = "textBoxCenter"-->
    <span style="display: block; -webkit-animation-duration: 3.5s;" class="fadeInLeftBounce animated">
      <div class = "textBoxCenter group">
      <!--<input class="input" id="session_username" name="session[username]" type="text" required class="input">    alternative way to erb-->
        <%=f.text_field :username, class: 'input inputBlue', required: true %>
        <%= content_tag :span, nil, :class => 'highlight' %>
        <%= content_tag :span, nil, :class => 'bar' %>
        <%= f.label :username %>
      </div>
    </span>
    <div/>
    <span style="display: block; -webkit-animation-duration: 3.5s;" class="fadeInRightBounce animated">
      <div class = "textBoxCenter group">
        <%= f.password_field :password, class: "input inputBlue", required: true %>
        <%= content_tag :span, nil, :class => 'highlight' %>
        <%= content_tag :span, nil, :class => 'bar' %>
        <%= f.label :password %>
    <!-- Adds link to reset password -->
      </div>
    </span>
    <span style="display: block; -webkit-animation-duration: 3s;" class="fadeInUp animated">
      <div>
        <%= link_to "Forgot Password", new_password_reset_path, class: "button trans2 center buttonBoxBig buttonText" %>
    <!-- Creates new session -->  
        &nbsp;
        &nbsp;
        <%= f.submit 'Log In', class: "button trans center buttonBoxBigger buttonText" %>
      </div>
    </span>
    </div>
  <% end %>
  </div>
</html>