<% provide(:title, @page_title) %>
<!--############################################################################
# Displays information for an individual recipe.  Page contains all recipe
# ingredients, comments, and an overall rating.
#############################################################################-->
<!-- Recipe name as header -->
<div class="content">
  <h1 class="darkText">
    <%= @recipe.name%>
  </h1>
  <%= render 'ingredients' %>
  <!-- Serving size -->
  <hr />
    <h3>Recipe Amount Multiplier:</h3>
     <div class = "textBoxCenter">
      <%= number_field_tag 'Servings', '1', class: 'smallNumberBox', in: 1...9999%>
     </div>
  <hr />
  <%= render 'checklist' %>
  <hr />
  <%= render 'comment' %>
  <hr />
  <%= render 'rating' %>
</div>