<% provide(:title, @page_title) %>
<!-- Form for editing and new users -->
  <div class="content contentText">
    <span style="display: block;" class="fadeInDown animated">
    <span style="display: block; -webkit-animation-duration: 2.5s;" class="zoomIn animated">
      
      <h1 class="littleBiggerText wordsTransLighten "><%= @page_title%></h1>
    </span>
    </span>
  <br>
  <%= form_for @user do |f| %>
  <span style="display: block; -webkit-animation-duration: 3.5s;" class="fadeInLeftBounce animated">
      <div class = "textBoxCenter group">
      <!--<input class="input" id="session_username" name="session[username]" type="text" required class="input">    alternative way to erb-->
        <%=f.text_field :username, class: 'input inputBlue', required: true %>
        <%= content_tag :span, nil, :class => 'highlight hideText' %>
        <%= content_tag :span, nil, :class => 'bar' %>
        <%= f.label :username %>
      </div>
    </span>
    <br>
      <span style="display: block; -webkit-animation-duration: 3.5s;" class="fadeInLeftBounce animated">
      <div class = "textBoxCenter group">
      <!--<input class="input" id="session_username" name="session[username]" type="text" required class="input">    alternative way to erb-->
        <%=f.text_field :email, class: 'input inputBlue', required: true %>
        <%= content_tag :span, nil, :class => 'highlight hideText' %>
        <%= content_tag :span, nil, :class => 'bar' %>
        <%= f.label :email, class: "emailInCenter"%>
      </div>
    </span>
    <br>
    <span style="display: block; -webkit-animation-duration: 3.5s;" class="fadeInLeftBounce animated">
      <div class = "textBoxCenter group">
      <!--<input class="input" id="session_username" name="session[username]" type="text" required class="input">    alternative way to erb-->
        <%=f.text_field :fname, class: 'input inputBlue', required: true %>
        <%= content_tag :span, nil, :class => 'highlight hideText' %>
        <%= content_tag :span, nil, :class => 'bar' %>
        <%= f.label "First Name" %>
      </div>
    </span>
    <br>
    <span style="display: block; -webkit-animation-duration: 3.5s;" class="fadeInLeftBounce animated">
      <div class = "textBoxCenter group">
      <!--<input class="input" id="session_username" name="session[username]" type="text" required class="input">    alternative way to erb-->
        <%=f.text_field :lname, class: 'input inputBlue', required: true %>
        <%= content_tag :span, nil, :class => 'highlight hideText' %>
        <%= content_tag :span, nil, :class => 'bar' %>
        <%= f.label "Last Name" %>
      </div>
    </span>
    <br>
    <span style="display: block; -webkit-animation-duration: 3.5s;" class="fadeInLeftBounce animated">
      <div class = "textBoxCenter group">
      <!--<input class="input" id="session_username" name="session[username]" type="text" required class="input">    alternative way to erb-->
        <%=f.password_field :password, class: 'input inputBlue', required: true %>
        <%= content_tag :span, nil, :class => 'highlight hideText' %>
        <%= content_tag :span, nil, :class => 'bar' %>
        <%= f.label "Password" %>
      </div>
    </span>
    <br>
    <span style="display: block; -webkit-animation-duration: 3.5s;" class="fadeInLeftBounce animated">
      <div class = "textBoxCenter group">
      <!--<input class="input" id="session_username" name="session[username]" type="text" required class="input">    alternative way to erb-->
        <%=f.password_field :password_confirmation, class: 'input inputBlue', required: true %>
        <%= content_tag :span, nil, :class => 'highlight hideText' %>
        <%= content_tag :span, nil, :class => 'bar' %>
        <%= f.label 'Re-Enter Password', class:'reEnterPasswordInCenter' %>
      </div>
    </span>
    <br>
    <span style="display: block; -webkit-animation-duration: 3s;" class="fadeInUp animated">
    <div>
      <!-- Creates/Updates user object -->
      <%= f.submit @btnText,  class:"button trans center buttonBoxBigger buttonText" %>
      </div>
  </span>
    </div>
  <% end %>
</div>