<% @images = checklist.checklist_pictures.all %>
<!-- Shows information for a single checklist item-->
<tr id = <%= checklist.id%> class="checklistrow">
  <!-- Checklist description -->
  <td><%= check_box_tag checklist.id, 1, false, :class => "checklistbox" %></td>
  <td id = <%= checklist.id%> class="checklisttext"><%= checklist.description %></td>
  <% if checklist.baketemp != nil %>
    <td><%= checklist.baketemp %>&deg</td>
  <% else %>
    <td></td>
  <% end %>
  <% if checklist.baketime.to_i != 0 %>
    <td><%= (checklist.baketime.to_i - (checklist.baketime.to_i % 60)) / 60 %>:<% if (checklist.baketime.to_i % 60) < 10 %>0<% end %><%= checklist.baketime.to_i % 60 %></td>
    <% else %>
    <td></td>
  <% end %>
  <!-- The comment -->
  <!-- <td><%= checklist.order %></td> -->
  <!-- Show modificaiton links -->
  <td>
    <%= render 'shared/rmod_links', object: checklist %>
  </td>
  <td>
    <% if @images.any? %>
      <% @images.each do |i| %>
        <%= image_tag i.picture.url %>
      <% end %>
    <% end %>
  </td>
</tr>