<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=.5, maximum-scale=.5, user-scalable=0"/> <!--Mobile Help-->
<!-- Main template for all pages -->
<html>
    <!-- Head of document _head.html.erb -->
  <%= render 'layouts/head' %>
  <span id="ElevationBanner" class="dHide">
    <div style="text-align: center;" class="banner">Would you like to adjust the cooking times and temperatures according to your elevation?
      <button id="yesBtn">Yes please</button>
      <button id="noBtn">No thanks</button>
    </div>
  </span>
  <span id="ElevationNoLocation" class="dHide">
    <div style="text-align: center;" class="banner">Your elevation could not be found.
      <button id="okayBtn">Okay</button>
    </div>
  </span>
  <body>
      <!-- Page header _header.html.erb -->
    <%= render 'layouts/header' %>
    
    <span id="searchBarSpan">
      <!-- Search partial  _search.html.erb -->
      <%= render 'layouts/search' %>
    </span>
    <!-- Flash messages to user (Errors/Successes)  -->
    <span style="display: block; -webkit-animation-duration: 2s;" class="fadeInLeft animated">
      <span style="display: block; -webkit-animation-duration: 2s;" class="zoomIn animated">
        <div class = "flashErrors">
          <%= render 'shared/flash' %>
        </div>
      </span>
    </span>
      <!-- Main body container -->
    <div class="container">
      <!-- Display content for request <page_request>.html.erb -->
      <%= yield %>
    </div>
      <!-- Displays debug info if in development environment  -->
  </body>
  <div class="dev_debug dHide">
      <%= debug(params) if Rails.env.development? %>
  </div>
  <div class = "footerOnBottom"></div>
    <!-- Page footer _footer.html.erb -->
  <%= render 'layouts/footer' %>
    
<!-- Script for the footer to stickon the bottom -->
<script>
  $('.footer').css('margin-top',$(document).height() - (($('.header').height() + $('.content').height()  ) - $('.footer').height()));
</script>
</html>